language: python
python:
    - "3.6"
#branches:
#  only:
#    - master
#    - dev
    
# command to install dependencies
install:
#    - pip install ipython
    - pip install -r develop_requirements.txt
    - python setup.py install
# command to run tests
script: 
    - pytest


  - pytest