language: python

matrix:
  include:
  - name: Minimal installation
    python: 3.6
    sudo: true
    dist: xenial
    env: QT_QPA_PLATFORM=offscreen
    services:
      - xvfb
  
  - name: Full installation
    python: 3.6
    dist: xenial
    env: FULL_INSTALL=1
    services:
      - xvfb

install:
    - pip install qcodes
    - pip install -r requirements.txt
    - pip install opencv-python coveralls
    - pip install mypy
    - if [[ "$FULL_INSTALL" == "1" ]]; then
        echo "Full Installation";
        pip install -r develop_requirements.txt;
      fi
    - pip install -e .
    - export QT_QPA_PLATFORM=offscreen
 
script:
    - ls
    - pytest --version
    - xvfb-run coverage run --source="./src"  -m pytest
    - mypy src --ignore-missing-imports
    - if [[ "$FULL_INSTALL" == "1" ]]; then
        jupyter --version;
        source docs/notebooks/run_notebooks.sh;
      fi

after_success:
  - coveralls
    

# - xvfb-run -a pytest
# https://docs.travis-ci.com/user/gui-and-headless-browsers/#using-xvfb-to-run-tests-that-require-a-gui
