language: python
dist: xenial
python:
    - "3.6"
#branches:
#  only:
#    - master
#    - dev
    
# command to install dependencies
install:
#    - pip install ipython
    - pip install -r develop_requirements.txt
    - sudo apt-get install -y python-opencv
    - sudo apt-get install -y python3-opencv
    - pip install --upgrade pytest
    - python setup.py install
# command to run tests
script: 
    - ls
    - pytest --version
    - pytest -v
