# List of packages that can be pip installed
apscheduler
coverage
certifi
hickle>= 3.1
jupyter
numpy>=1.13
pandas
qtpy
h5py
pyvisa
pandoc
Polygon3
pyzmqrpc
pyqtgraph
PyQt5
qcodes
#redis
scipy>=0.18
scikit-image
scikit-learn
simplejson

