# List of packages that can be pip installed
numpy >= 1.10
scipy >= 0.18
matplotlib >= 2.0
coverage
pandas
jupyter
scikit-image
scikit-learn
qtpy
h5py
pyvisa
slacker
autopep8
apscheduler
spyder
dulwich
colorama
attrs
Polygon3
pyzmqrpc
redis
pandoc