# List of packages that can be pip installed
attrs
autopep8
apscheduler
coverage
certifi
colorama
hickle>= 3.1
jupyter
numpy >= 1.13
matplotlib >= 2.1
pandas
qtpy
h5py
pyvisa
pandoc
urllib3
Polygon3
pyzmqrpc
pyqtgraph
PyQt5
qcodes
git+https://github.com/qutech/qupulse#egg=qupulse
redis
scipy >= 0.18
scikit-image
scikit-learn
slacker
simplejson
wrapt

# for documentation building
sphinx>=1.7
sphinx_rtd_theme
sphinxcontrib.bibtex
sphinxcontrib.apidoc
sphinx-automodapi
nbsphinx
pypandoc>=1.3
jupyter_contrib_nbextensions
pandoc [conda]
