apscheduler
attrs>=18.2.0
coverage
dataclasses-json
dulwich
hickle>=3.1
lmfit
numpy>=1.15
matplotlib>=3.0
Polygon3
pyqtgraph
pyzmqrpc
PyQt5
qtpy
qupulse
redis
sympy
scikit-image
scipy>=0.18
tables
qcodes>=0.5.0
qilib
