apscheduler
attrs>=18.2.0
coverage
dulwich
hickle>=3.1
numpy>=1.15
matplotlib>=3.0
Polygon3
pyqtgraph
pyzmqrpc
PyQt5
qtpy
qupulse
redis
sympy
scikit-image
scipy>=0.18
tables
git+https://github.com/Qcodes/Qcodes.git#egg=Qcodes
qilib
