# to install qtt
qcodes
matplotlib
attrs
nose
hickle
numpy==1.13
scikit-image
scipy
Polygon3
# for documentation building
sphinxcontrib.bibtex
nbsphinx
sphinxcontrib.napoleon
sphinx-automodapi
matplotlib
jupyter
