# to install qtt
apscheduler
attrs
coverage
dulwich
hickle
numpy
matplotlib >= 2.1
pandas
Polygon3
pyqtgraph
pyzmqrpc
PyQt5
qcodes
qtpy
qupulse
sympy
scikit-image
scipy >= 0.18
tables
opencv-python

# for documentation building
numpydoc
sphinxcontrib.bibtex
nbsphinx
sphinxcontrib.napoleon
sphinx-automodapi
jupyter
